:root
{
    --blue  : #0000ff
    --darkblue : #00008b
    --green : #000000
    --white : #ffffff
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Tahoma;
}

body
{
    background-color: darkblue;
    color: red;
}

header
{
    text-align: center;
    background-color: blue;
    position: fixed;
    width: 100%;
    font-weight: bold;
    padding: 2%;
    top: 0;
}

.title
{
    color: greenyellow;
    border-bottom: white;
}

.input-search
{
    width: 30%;
    border: none;
    border-radius: 0 0 0 10px;
    padding: 2px;
}

.inpur-submit
{
    margin-left: -5px;
    border: none;
    border-radius: 0 10px 0 0;
    padding: 2px;
    background-color: green;
    color: blue;
    width: 5%;
}

nav
{
    margin-top: 5px;
}

nav ul
{
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: blue;
}
nav ui li a:hover
{
    border-bottom: 1px solid var(--blue);
}

.slider
{
    margin-top: 10%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 65%;
}

.slider h4
{
    margin-top: 20%;
}

.slides
{
    display: flex;
    width: 50rem;
    overflow: hidden;
}

.slides img 
{
    border-radius: 10px;
}

.slide
{
    width: 50rem;
    transition: .5s;
}

.choose_1:checked ~ .slides > .s1
{
    margin-left: -0rem;
}

.choose_2:checked ~ .slides > .s1
{
    margin-left: -50rem;
}

.overlay 
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target 
{
    visibility: visible;
    opacity: 1;
}

.popup 
{
    margin: 70px auto;
    padding: 20px;
    background: var(--dark-blue);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: var(--white);
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover 
{
    color: #d80606;
}

.content 
{
    max-height: 30%;
    width: 50%;
}

.title-p
{
    margin-top: 5%;
    margin-left: 5px;
}

.populer
{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}

.populer img
{
    border-radius: 10px;
}

.harga
{
    color: lawngreen;
}

.link a
{
    color: white;
}

.link a:hover
{
    color: lawngreen;
}

.pesan
{
    background-color: limegreen;
    padding: 5%;
    border-radius: 10%;
}

.pesan img
{
    width: 30px;
}

.tentang
{
    display: grid;
    justify-content: center;
    margin-top: 10%;
    font-size: 15pt;
}
 
.card
{
    background-color: blue;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 20px 20px black;
}
 
.card h1
{
    text-align: center;
}
 
html
{
    scroll-behavior: smooth;
}
 
 
footer
{
    display: grid;
    justify-content: center;
    background-color: blue;
    margin-top: 10%;
    padding: 2%;
}
 
.sosmed img 
{
    width: 50px;
}
 
#copyright
{
    text-align: center;
    padding: 10px;
}

@media screen and (max-width:: 600px) {
    .slider
    {
        display: none;
    }

    .title-p
    {
        padding-top: 6rem;
        margin-left: 20px;
    }

    .populer
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        font-size: 10pt;
    }

    .link
    {
        width: 80% ;
    }
}
    
